// @import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
// html,
// body {
// //   font-family: "Patrick Hand SC", cursive;
// }

.base-component {
  background: transparent;
  transition: box-shadow 0.5s ease;
  outline: none;
  border-radius: 15px;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  //   border-radius: 255px 4px 225px 4px/4px 225px 4px 255px;
  overflow: hidden;
  /*
    Above is shorthand for:
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    */
  &:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  }
  &.lined.thick {
    border: solid 4px #41403e;
  }
  &.lined.thick.selected {
    border: solid 4px #0972d3;
  }

  &.unselected {
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
